@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.flex-end{
    justify-content: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.reverse{
    flex-direction: row-reverse;
}


.container{
    height: 100vh;
    border: 1px solid yellow;
}

.cont-top{
    background-color: #141922;
    height: 90%;
}

.cont-head{
    background-color: #080B12;
    height: 10%;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.button-head{
    margin-right: 8px;
}

.button-head button{
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #080B12;
    border: 1px solid white;
}

.cont-side{
    background-color: black;
    color: white;
    /* width: 10%; */
    position: sticky;
    z-index: 2;
    /* top: 0;
    left: 0;
    bottom: 0; */
    /* text-align: center;   */
    padding: 10px;
    height: 90vh;
    
}

.logo1{
    /* width: 20%; */
}

.logo2{
    
}



.cont-side img{
    width: 100%;
}

.cont-side .logo2{
    /* display: none; */
    width: 150px;
}

.cont-side .logo1{
    width: 50px;
}


.side-text{
    margin-top: 10px;
    text-align: center;
}

/* .side-text span{
    display: none;
} */

.side-center{
    /* display: none; */
    margin-top: 20px;
}

.side-center li{
    margin-top: 5px;
}


.side-bottom hr{
  margin-top: 10px;

}

.bot{
    margin-top: 10px;
}

.none{
    display: none;
}

.img-side{
    aspect-ratio: 1/1;
    width: 20px;
    border-radius: 50%;
    margin-inline: auto;
    overflow: hidden;
    background-color: grey;
    display: inline-block;
}

.img-side img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.side-bottom{
    text-align: center;
}

.cont-main{
    flex-grow: 1;
    overflow-y:auto;
}

.menù{
    padding: 20px;
}

.menù h2{
    color: white;
    margin-bottom: 20px;
}

.card h3{
    color: white;
}

.card p{
    color: gray;
}

.card{
    width: calc( 100% / 2);
    padding: 10px;
    text-align: center;
}

.card img{
    width: 100%;
}

.img-menù{
    width: 100%;
    border-radius: 50%;
    margin-inline: auto;
    /* overflow: hidden; */
    /* display: inline-block; */
}

.img-menù img{ 
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 50%;
}

.title-card{
    margin-top: 30px;
}

.title-card p{
    margin-bottom: 20px;
    color: gray;
}


    

nav{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

nav a{
    margin-left: 10px;
    color: gray;
    text-decoration: none;
    font-size: 80%;
    
}

.box-img{
    flex: 1;
}

.cont-bottom{
    background-color: #282828;
    height: 10%;
    /*position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;*/
}

.box-bottom{
    padding: 10px;
}

.bottom-left{
    /* padding: 10px; */
    /* width: 25%; */
}

.sinist{
    width: 40px;
}

.sinist img{
    width: 100%;
}

.left-icons{
flex-wrap: wrap;
}

.bottom-center{
    width: 50%;
}

.center-icons{
    text-align: center;
}

.time{
    width: 100%;
    background-color: #141922;
    height: 10px;
}

.time1{
    width: 100px;
    background-color: #141922;
    height: 10px;
}

.time2{
    width: 30%;
    background-color:  grey;
    height: 10px;
}

.bottom-right{
    /* width: 25%; */
}

.right-icons{

}

@media screen and ( min-width: 768px ){
    .none{
        display: inline-block;
    }

    .logo1{
        display: none;
    }

    .cont-side{
        width: 50%;
    }

    .card{
        width: calc( 100% / 4);      
}

    .side-text{
    margin-top: 10px;
    text-align: left;
}

.side-bottom{
    text-align: left;
}

}

@media screen and ( min-width: 1024px ){
    .cont-side{
        width: 30%;
    }

    .card{
        width: calc( 100% / 6);
}

}
